Uri::createUriString is invalid for URIs lacking an "authority"

In [RFC3986 section 3](https://tools.ietf.org/html/rfc3986#section-3), a valid absolute URI which contains no authority can be written like this: `urn:example:animal:ferret:nose`. In this case, the URI scheme is `urn`, and the path is `example:animal:ferret:nose`:

```php
var_dump(parse_url('urn:example:animal:ferret:nose'));
array(2) {
  ["scheme"]=>
  string(3) "urn"
  ["path"]=>
  string(26) "example:animal:ferret:nose"
}
```

**Problem**
The [`Uri::createUriString`](https://github.com/guzzle/psr7/blob/master/src/Uri.php#L479) function appends `//` to ANY scheme, when it should only be appending if the authority exists. As a result, the string becomes `urn:///example:animal:ferret:nose`

**Solution**
Before appending `//`, ensure `$authority` is not empty. Before prepending `/` to `$path`, ensure `$authority` is not empty.