Potential issue with parse_header()

# Code to reproduce

```php
use GuzzleHttp\{Client, Psr7\Request};
use function GuzzleHttp\Psr7\{parse_header, str};

$client = new Client;
$request = new Request('GET', 'https://www.google.com');
$response = $client->send($request);

$headers = $response->getHeader('Set-Cookie');
var_dump($headers, parse_header($headers));
```

# Output

```
array(2) {
  [0]=>
  string(87) "1P_JAR=2017-11-05-13; expires=Tue, 05-Dec-2017 13:44:24 GMT; path=/; domain=.google.com"
  [1]=>
  string(213) "NID=116=rp_7W-xwQ-avnnS7gHPD5BgCIMzyiKovJQJ7aDA_zQZDGFceVLE5ryTpaEQkxjGMTM6RDxsdlVyYLqK0EKDfy6u9UMy6xyBs3M8Y_iYlO2HEWdtnxX1LtuuSaKA-OB-T; expires=Mon, 07-May-2018 13:44:24 GMT; path=/; domain=.google.com; HttpOnly"
}
array(4) {
  [0]=>
  array(2) {
    ["1P_JAR"]=>
    string(13) "2017-11-05-13"
    ["expires"]=>
    string(3) "Tue"
  }
  [1]=>
  array(3) {
    [0]=>
    string(24) "05-Dec-2017 13:44:24 GMT"
    ["path"]=>
    string(1) "/"
    ["domain"]=>
    string(11) ".google.com"
  }
  [2]=>
  array(2) {
    ["NID"]=>
    string(3) "116"
    ["expires"]=>
    string(3) "Mon"
  }
  [3]=>
  array(4) {
    [0]=>
    string(24) "07-May-2018 13:44:24 GMT"
    ["path"]=>
    string(1) "/"
    ["domain"]=>
    string(11) ".google.com"
    [1]=>
    string(8) "HttpOnly"
  }
}
```

# Issue

The commas within the `expires` timestamps are causing splits to be performed by the `normalize_header()` call made by `parse_header()`.

I'm not sure if this is a use case that `parse_header()` does not cover, whether accidentally or intentionally, or if the error is on Google's part for not enclosing the timestamp in double quotes or varying the header value in some other way.

If Guzzle is in error in this instance, I'd be happy to try to write up a PR to fix the issue. If not, I'd very much appreciate references to documentation to confirm any error on Google's part. Thanks in advance.

Digging further, according to [RFC 6265 Section 4.1.1](https://tools.ietf.org/html/rfc6265#section-4.1.1):

```
set-cookie-header = "Set-Cookie:" SP set-cookie-string
set-cookie-string = cookie-pair *( ";" SP cookie-av )
cookie-pair       = cookie-name "=" cookie-value
cookie-name       = token
cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                      ; US-ASCII characters excluding CTLs,
                      ; whitespace DQUOTE, comma, semicolon,
                      ; and backslash
token             = <token, defined in [RFC2616], Section 2.2>

cookie-av         = expires-av / max-age-av / domain-av /
                     path-av / secure-av / httponly-av /
                     extension-av
expires-av        = "Expires=" sane-cookie-date
sane-cookie-date  = <rfc1123-date, defined in [RFC2616], Section 3.3.1>
```

Following the reference to [RFC 2616 Section 3.3.1](https://tools.ietf.org/html/rfc2616#section-3.3.1):

```
 rfc1123-date = wkday "," SP date1 SP time SP "GMT"
```

So, it appears that Google's `Set-Cookie` header is well-formed according to these specifications and Guzzle isn't parsing it correctly.

During subsequent digging, I located `\GuzzleHttp\Cookie\SetCookie::fromString()`, which contains logic specific to parsing cookie headers. I was under the (likely mistaken, I suspect) impression that `parse_header()` was a general purpose function for parsing headers. If I was in fact mistaken, feel free to close this issue.

It seems that link headers are not parsed correctly either (due to the commas).


**How to reproduce**  
```
>>> GuzzleHttp\Psr7\parse_header(['<https://api.capsulecrm.com/api/v2/parties?page=3&perPage=100&embed=tags,fields>; rel="next"'])
=> [
     [
       "<https://api.capsulecrm.com/api/v2/parties?page" => "3&perPage",
     ],
     [
       0 => "fields>",
       "rel" => "next",
     ],
   ]
```

This issue appears to still be present in the 1.8.1 release.

This issue is still present in the 2.0.0 release. Here's updated code to reproduce it:

```php
<?php

use GuzzleHttp\{Client, Psr7\Header, Psr7\Request};

$client = new Client;
$request = new Request('GET', 'https://www.google.com');
$response = $client->send($request);

$headers = $response->getHeader('Set-Cookie');
var_dump($headers, Header::parse($headers));
```

While there is in fact a bug within the header parser in that it does not handle backslashes in quoted-strings correctly (I plan to file a PR soonish), this issue is not an actual issue, because `Set-Cookie` is special in that is does not follow the list syntax. [RFC 7230#3.2.2](https://httpwg.org/specs/rfc7230.html#rfc.section.3.2.2):

> Note: In practice, the "Set-Cookie" header field ([RFC6265]) often appears multiple times in a response message and does not use the list syntax, violating the above requirements on multiple header fields with the same name. Since it cannot be combined into a single field-value, recipients ought to handle "Set-Cookie" as a special case while processing header fields. (See Appendix A.2.3 of [Kri2001] for details.)

This issue should be closed as “not a bug”.

Thanks @TimWolla. :)

> I plan to file a PR soonish

For the record: #447 